form{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* align-items: end; */
}

button{
    align-self: end;
    margin: 1px !important;
}

form > .buttons{
    align-self: flex-end;
} 